@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,400,600,800,900|M+PLUS+Rounded+1c:900&display=swap');
/*-------------------General Styling*/
.html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.site-button {
  color: #FFBAD2;
  background-color: #F20056;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
/*-------------------Text Styling*/
.navbar-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
  font-size: 23px;
  text-shadow: 2px 2px 1px #999;
  text-transform: uppercase;
  color: #F20056;
}
.h3-home {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 900;
  color: #F20056;
  text-shadow: 1px 1px 0px rgb(255, 186, 210);
  text-transform: uppercase;
}
.p-home {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  color: #F20056;
  text-shadow: 1px 1px 0px rgb(255, 186, 210);
}
.home-button {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 400;
}
.h4-treatments, .h4-about {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #c8cfb4;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgb(242, 0, 86);
}
.p-text {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 300;
  color: #F20056;
  margin: 10px;
}
.treatment {
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.t-price {
  position: absolute;
  right: 13px;
}
.h4-appointments {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #c8cfb4;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgb(242, 0, 86);
}
.fab {
  font-size: 29px;
}
.about-card-cascade {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 300;
  color: #FFBAD2;
  font-size: 1rem;
  text-transform: uppercase;
}
.about-card {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #FFBAD2;
  font-size: 1rem;
  font-weight: 300;
  color: #f20056;
}
/*-------------------Nav Styling*/
.menu-button {
  color: #F20056;
}
.navbar {
  padding: 0;
  background-color: #FFBAD2;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
          box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.navbar-brand {
  margin-left: 10px;
}
.navbar-nav {
  margin-right: 10px;
}
.navbar-collapse {
  text-align: right;
}
.nav-barlogo-notext {
  width: 78px;
  height: auto;
}
/*-------------------Link Styling*/
#navbarlinks a:link {
  color: #F20056;
}
#navbarlinks a:visited {
  color: #F20056;
}
#navbarlinks a:hover {
  color: #C8CFB4;
  text-shadow: 4px 3px 2px #F20056;
}
#navbarlinks a:active {
  color: #C8CFB4;
  text-shadow: 4px 3px 2px #F20056;
}
#sociallinks a:link {
  color: #F20056;
}
#sociallinks a:visited {
  color: #F20056;
}
#sociallinks a:hover {
  color: #C8CFB4;
  text-shadow: 4px 3px 2px #F20056;
}
#sociallinks a:active {
  color: #C8CFB4;
  text-shadow: 4px 3px 2px #F20056;
}
/*-------------------Main styling*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/*-------------------Home Styling*/
.home-section-bg {
  height: 100vh;
  background: #FFBAD2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 186, 210, 0.67)), to(rgba(200, 207, 180, 0.66))), url(images/mainbackground.jpg) no-repeat center;
  background: -webkit-linear-gradient(top, rgba(255, 186, 210, 0.67) 0%, rgba(200, 207, 180, 0.66) 100%), url(images/mainbackground.jpg) no-repeat center;
  background: -o-linear-gradient(top, rgba(255, 186, 210, 0.67) 0%, rgba(200, 207, 180, 0.66) 100%), url(images/mainbackground.jpg) no-repeat center;
  background: linear-gradient(to bottom, rgba(255, 186, 210, 0.67) 0%, rgba(200, 207, 180, 0.66) 100%), url(images/mainbackground.jpg) no-repeat center;
  background-size: cover;
}
.home-section-logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 25px;
}
.home-button {
  text-align: right;
  color: #FFBAD2;
  background-color: #F20056;
}
/*-------------------Treatments Styling*/
.treatments-intro-image {
  height: 25vh;
  background: -webkit-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/treatmentsintro.jpg") no-repeat center;
  background: -o-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/treatmentsintro.jpg") no-repeat center;
  background: linear-gradient(127deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/treatmentsintro.jpg") no-repeat center;
  background-size: cover;
}
.treatments-intro-row {
  background-color: #C8CFB4;
}
.cards-col {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  background-color: #C8CFB4;
}
.treatments-cards {
  background-color: #FFBAD2;
  text-align-last: center;
}
.card-img-top {
  width: 100%;
  height: 22vw;
  -o-object-fit: cover;
     object-fit: cover;
}
/*-------------------Appointments styling*/
.appointments-intro-image {
  height: 25vh;
  background: -webkit-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/appointmentsintro.jpg") no-repeat center;
  background: -o-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/appointmentsintro.jpg") no-repeat center;
  background: linear-gradient(127deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/appointmentsintro.jpg") no-repeat center;
  background-size: cover;
}
.appointments-column {
  background-color: #C8CFB4;
}

.appointments-row {
	background-color: #C8CFB4;
    height: 75vh;
}
/*-------------------Gallery Styling*/
.gallery-intro-image {
  height: 25vh;
  background: -webkit-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/galleryintro.jpg") no-repeat scroll 50% 30%;
  background: -o-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/galleryintro.jpg") no-repeat scroll 50% 30%;
  background: linear-gradient(127deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/galleryintro.jpg") no-repeat scroll 50% 30%;
  background-size: cover;
}
.gallery-img img {
  width: 100%;
}
.gallery-img {
		padding-left: 8px;
	padding-right: 8px;
}
.gallery-row {
  background-color: #C8CFB4;
  padding-top: 15px;
}
/*Credit to Anna Greaves, as I was inspired by her gallery, she added the following code to the site: Anna Greaves github: https://github.com/AJGreaves*/
/*original code credit: https://codepen.io/sdthornton/pen/wBZdXq */
.gallery-thumbnail {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 5px; /*this code added by me*/
}
/*Credit to Anna Greaves, as I was inspired by her gallery, she added the following code to the site: Anna Greaves github: https://github.com/AJGreaves*/
/* creates pleasing illusion of hovered image being raised up from the screen */
/* original code credit: https://codepen.io/sdthornton/pen/wBZdXq */
.gallery-thumbnail:hover {
  /*width and height of hover shadow code from Anna Greaves*/
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
}

figure {
    margin: 0 0 13px;
}
/*-------------------About Us Styling*/
.about-intro-image {
  height: 25vh;
  background: -webkit-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/aboutusintro.jpg") no-repeat center;
  background: -o-linear-gradient(323deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/aboutusintro.jpg") no-repeat center;
  background: linear-gradient(127deg, rgba(255, 186, 210, 1) 0%, rgba(200, 207, 180, 0.5186449579831933) 30%), url("images/aboutusintro.jpg") no-repeat center;
  background-size: cover;
}
.about-row {
  background-color: #C8CFB4;
  padding-top: 15px;
}
.about-avatar {
  max-width: 50%;
}
.modal-cont {
  background-color: #C8CFB4;
}
.modal-header, .modal-footer {
  border: 0;
}
.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.about-card-cascade {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -0.75rem;
  border-radius: .25rem;
  padding: 1.6rem 1rem;
  text-align: center;
  background-color: #F20056;
}
.card-hours-address {
  text-align: left;
}
.about-card {
  background-color: #FFBAD2;
}
/*-------------------Footer Styling*/
.footer-row {
  background-color: #FFBAD2;
  -webkit-box-shadow: 0px -5px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
          box-shadow: 0px -5px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding-top: 15px;
}
/*-------------------Media Queries*/
/*-------phones and tablets*/
@media screen and (min-width: 300px) {
  .gallery-img {
    max-width: 50%;
  }
}
/*-------desktops and XL screens*/
@media screen and (min-width: 993px) {
  .gallery-img img {
    max-width: 300px;
    height: auto;
  }
	.home-section-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 186, 210, 0.67)), to(rgba(200, 207, 180, 0.66))), url(images/mainbackground.jpg) no-repeat center center fixed;
  background: -webkit-linear-gradient(top, rgba(255, 186, 210, 0.67) 0%, rgba(200, 207, 180, 0.66) 100%), url(images/mainbackground.jpg) no-repeat center center fixed;
  background: -o-linear-gradient(top, rgba(255, 186, 210, 0.67) 0%, rgba(200, 207, 180, 0.66) 100%), url(images/mainbackground.jpg) no-repeat center center fixed;
  background: linear-gradient(to bottom, rgba(255, 186, 210, 0.67) 0%, rgba(200, 207, 180, 0.66) 100%), url(images/mainbackground.jpg) no-repeat center center fixed;
  background-size: cover;
}
  .about-intro-image {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 186, 210, 0.78)), to(rgba(200, 207, 180, 0.45))), url("images/aboutusintro.jpg") no-repeat center center fixed;
    background: -webkit-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/aboutusintro.jpg") no-repeat center center fixed;
    background: -o-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/aboutusintro.jpg") no-repeat center center fixed;
    background: linear-gradient(to bottom, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/aboutusintro.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .gallery-intro-image {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 186, 210, 0.78)), to(rgba(200, 207, 180, 0.45))), url("images/galleryintro.jpg") no-repeat center center fixed;
    background: -webkit-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/galleryintro.jpg") no-repeat center center fixed;
    background: -o-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/galleryintro.jpg") no-repeat center center fixed;
    background: linear-gradient(to bottom, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/galleryintro.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .appointments-intro-image {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 186, 210, 0.78)), to(rgba(200, 207, 180, 0.45))), url("images/appointmentsintro.jpg") no-repeat center center fixed;
    background: -webkit-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/appointmentsintro.jpg") no-repeat center center fixed;
    background: -o-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/appointmentsintro.jpg") no-repeat center center fixed;
    background: linear-gradient(to bottom, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/appointmentsintro.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .treatments-intro-image {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 186, 210, 0.78)), to(rgba(200, 207, 180, 0.45))), url("images/treatmentsintro.jpg") no-repeat center center fixed;
    background: -webkit-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/treatmentsintro.jpg") no-repeat center center fixed;
    background: -o-linear-gradient(top, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/treatmentsintro.jpg") no-repeat center center fixed;
    background: linear-gradient(to bottom, rgba(255, 186, 210, 0.78) 0%, rgba(200, 207, 180, 0.45) 100%), url("images/treatmentsintro.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}